{% extends "base.html" %} {% load static %} {% block content %}

<section id="single-page-home">
  <section class="wrapper">
    {% include 'includes/header.html' %}
    <section class="single-page-spotlight">
      <h3 class="title">{{instances.title}}</h3>
      <p class="description">{{instances.short_description}}</p>
      <div class="post-thumbnail">
        <img src="{{instances.image.url}}" alt="Post-thumbnail" />
      </div>
      <div class="details">
        <span class="published">
          <p class="written">Manufactured by</p>
          <p class="name">{{instances.brand}}</p>
        </span>
        <div class="blog-category">
            {% for category in instances.categories.all %}
            <span class="category"> {{category.title}} </span>
            {% endfor %}
      <p class="detailed-description">
        {{instances.description | safe | striptags }}
      </p>
    </section>
  </section>
</section>

{% endblock %}
